*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}

body{
	font-family: sans-serif;
    background-size: cover;
    background-image: url(./abstract-mixed-color-background-lights-260nw-1176959383.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
	margin-bottom: 10px;
}

.navbar{
    background-color: rgb(189, 76, 170);
}
.logo{
    font-size: large;
    font-weight: bold;
    margin-left: 9px;
    margin-top: 20px;
}
.nav-menu a{
    color: azure;
}
a{
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	font-weight: bold;
}

/* navbar styling */
.navbar{
	display: flex;
	height: 5rem;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	border-bottom: 2px solid rgb(0, 0, 0);
}

/* logo style */

.hamburger-menu{
	padding-right: 1.5rem;
	cursor: pointer;
}

.hamburger-menu .line{
display: block;
width:2.5rem;
height: 2px;
margin-bottom: 10px;
background-color: black;
cursor: pointer;
}
.container{
	margin-bottom: 50px;
}

.nav-menu{
	position: fixed;
	width: 94%;
	top: 6rem;
	left: 18px;
	background-color: rgba(81, 0, 39, 0.7);
	font-weight: 600;
    backdrop-filter: blur(5px);
    border-radius: 5px;
	z-index: 5;
}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 0;
}
.nav-menu a:hover{
	background-color: rgb(117, 0, 66);
    border-radius: 5px;
}

.hide{
	display: none;
}


/* for Desktop view */
@media screen and (min-width:885px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;

		background: none;

		backdrop-filter: none;

		z-index: 5;
	}
	.nav-menu a{
		display: inline-block;
		padding: 15px 20px;
	}
	.nav-menu a:hover{
		background-color: rgb(82, 2, 107);
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}
}
